name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crystal: ["1.19", "latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}
      - run: shards install
      - run: crystal spec
      - run: crystal build --no-codegen src/dkimvrfy.cr
      - run: crystal build --no-codegen src/dkimsign.cr
